<div class="row exp-video">
    <div class="col-sm-12 col-md-7">
        <iframe src="//player.vimeo.com/video/72817341"
                width="570"
                height="320"
                frameborder="0"
                style="margin-left: 15px; border: 1px solid #BCBCBC; border-radius: 5px;"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
        <h1>Build apps faster with less effort.</h1>
        <p>Exponential. From prototype to production. Improve your development
            workflow.</p>
        <p><a class="btn btn-success btn-lg" href="/contact">Sign up for our beta</a></p>
    </div>
</div>

<!-- Section Divider -->
<div class="row" style="margin: 35px 0px 21px 0px;">
    <div class="col-sm-4"><hr /></div>
    <div class="col-sm-4" style="text-align: center; font-size: 25px; font-weight: bold;">
        What is Exponential?
    </div>
    <div class="col-sm-4"><hr /></div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>Exponential is a suite of tools and technologies that enable you to
            develop web apps faster with less effort. Specifically, Exponential
            generates the following code for you:</p>
        <ul>
            <li>Angular app including routes, controllers, services, directives,
                and filters.</li>
            <li>Node API as a suite of standard RESTful JSON end points. The
                Node API code includes all server-side routes, controllers, and
                models.</li>
            <li>Mongo queries as Mongoose models.</li>
            <li>A production ready Express application framework.</li>
            <li>Validation code for Angular in the browser and Node on the
                server.</li>
            <li>Unit tests written with Jasmine and Karma for Angular and Node.</li>
            <li>And, Exponential connects each of the above components into
                functional code.</li>
        </ul>
    </div>
</div>

<!-- Section Divider -->
<div class="row" style="margin: 35px 0px 21px 0px;">
    <div class="col-sm-4"><hr /></div>
    <div class="col-sm-4" style="text-align: center; font-size: 25px; font-weight: bold;">
        Who uses Exponential?
    </div>
    <div class="col-sm-4"><hr /></div>
</div>

<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4 snippet">
        <img class="img-circle" width="140px" height="140px" src="/images/website/icons/startup-140.png" alt="Startups">
        <h2>Startups</h2>
        <p>Building a startup involves numerous build, measure, learn cycles.
            Exponential helps you build faster by empowering you with the same
            tools used at the largest and most advanced technology companies.</p>
        <!--
        <p><a href="/startup">Learn how Exponential can help your startup.</a></p>
        -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 snippet">
        <img class="img-circle" width="140px" height="140px" src="/images/website/icons/website-140.png" alt="Developers">
        <h2>Developers</h2>
        <p>Go from idea to working product in record time. Exponential gives you
            a suite of tools to rapidly convert ideas into working prototypes.
            When you're ready to move from prototype to production, Exponential
            jumpstarts your production development.</p>
        <!--
        <p><a href="/startup">Discover how Exponential helps you develop twice
            as fast.</a></p>
        -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 snippet">
        <img class="img-circle" width="140px" height="140px" src="/images/website/icons/lab-140.png" alt="Enterprise">
        <h2>Enterprise</h2>
        <p>Leading companies such as LinkedIn, PayPal, Groupon, and Walmart have
            all reported 40% cost savings and massive increases in developer
            productivity by switching to NodeJS. Exponential delivers cost
            savings and productivity improvements.</p>
        <!--
        <p><a href="/startup">Gain insight into how you can help your business
            boost developer productivity.</a></p>
        -->
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<!-- START THE FEATURETTES -->

<!-- Section Divider -->
<div class="row" style="margin: 35px 0px 21px 0px;">
    <div class="col-sm-4"><hr /></div>
    <div class="col-sm-4" style="text-align: center; font-size: 25px; font-weight: bold;">
        Features
    </div>
    <div class="col-sm-4"><hr /></div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Angular. <span class="text-muted">Automated.</span></h2>
        <p class="lead">Exponential boosts  your productivity by generating a
            complete Angular app. All source code is well formatted, commented,
            and is ready for your to extend with your custom logic. Exponential
            helps you by automating all repetative code including controllers,
            services, directives, filters and connects your app to your REST API.
        </p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive source" width="500px" height="500px" src="/images/website/home/angular-source.png" alt="AngularJS">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="img-responsive source" width="500px" height="500px" src="/images/website/home/node-source.png" alt="NodeJS">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Node API. <span class="text-muted">Ready for production.</span></h2>
        <p class="lead">Exponential is the fastest and easiest way to build high
            performance APIs. Using Exponential, you can create a production
            ready API in a matter of minutes.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">MongoDB. <span class="text-muted">Consider it done.</span></h2>
        <p class="lead">Exponential automates the creation of Mongoose models,
            sets up Express to load your models, and connects your models with
            your Node API controllers. As with all Exponential modules, the code
            created by Expontial is well formatted, commented and is ready for
            you to extend with your custom logic.</p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive source" width="500px" height="500px" src="/images/website/home/mongoose-source.png" alt="MongoDB">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="img-responsive source" width="500px" height="500px" src="/images/website/home/mdf-source.png" alt="Module Definition Format (MDF)">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Module Definition Format. <span class="text-muted">Simplicity.</span></h2>
        <p class="lead">Exponential uses the Module Definition Format (MDF). MDF
            is a simple JSON format that empowers you to define and build apps,
            modules, and components in minutes. Using a barebones MDF file, you
            can prototype an app in less than an hour. Later, you can flesh out
            your MDF with validation, security and production ready performance
            optimizations. Each MDF file creates everything your app needs
            including an Angular UI, a Node API, and a Mongo database.</p>
    </div>
</div>