<div class="row">
    <div class="col-sm-12">
        <h1>Terms of Service</h1>
        <h1>1. Acceptance Of This Agreement</h1>
        <p>
            Your access to and use of this website ("the Website") is subject
            exclusively to these Terms and Conditions. You will not use the
            Website for any purpose that is unlawful or prohibited by these
            Terms and Conditions. By using the Website you are fully accepting
            the terms, conditions and disclaimers contained in this notice. If
            you do not accept these Terms and Conditions you must immediately
            stop using the Website.
        </p>
        <h1>2. Changes to Website, Software, and Services</h1>
        <p>
            <%= mdf.project.company %> reserves the right to:
        <ul>
            <li>change or remove (temporarily or permanently) the Website or
                any part of it without notice and you confirm that
                <%= mdf.project.company %> shall not be liable to you for any such change
                or removal.</li>
            <li>change, remove, or discontinue any software, service, or
                promotion (including but not limited to any previsions, parts
                thereof, licensing, pricing) as advertised on this website at
                any time without notice and you confirm that <%= mdf.project.company %>
                shall not be liable for any such change or removal.</li>
            <li>change or discontinue any promotional discount vouchers or
                coupon codes at anytime with notice and you confirm that
                <%= mdf.project.company %> shall not be liable for any such change or
                removal.</li>
            <li>change this Agreement at any time, and your continued use of
                the Website following any changes shall be deemed to be your
                acceptance of such change.</li>
        </ul>
        <h1>3. Links to Third Party Website's</h1>
        <p>
            The Website may include links to third party website's that are
            controlled and maintained by others. Any link to other website's is
            not an endorsement of such website's and you acknowledge and agree
            that we are not responsible for the content or availability of any
            such sites.
        </p>
        <h1>4. Copyright</h1>
        <p>
            The Intellectual Property Rights in this website and the materials
            on or accessible via it belong to <%= mdf.project.company %> or its licensors.
            This website and the materials on or accessible via it and the
            Intellectual Property Rights therein may not be copied, distributed,
            published, licensed, used or reproduced in any way (save to the
            extent strictly necessary for, and for the purposes of, accessing
            and using this website).
        </p>
        <p>
            '<%= mdf.project.website %>' and the <%= mdf.project.website %> Logo are trade marks which
            belong to <%= mdf.project.company %> and they may not be may not be used,
            copied or reproduced in any way without written consent from
            <%= mdf.project.company %>.
        </p>
        <p>
            For these purposes "Intellectual Property Rights" includes the
            following (wherever and when ever arising and for the full term of
            each of them): any patent, trade mark, trade name, service mark,
            service name, design, design right, copyright, database right, moral
            rights, know how, trade secret and other confidential information,
            rights in the nature of any of these items in any country, rights in
            the nature of unfair competition rights and rights to sue for
            passing off or other similar intellectual or commercial right (in
            each case whether or not registered or registrable) and
            registrations of and applications to register any of them.
        </p>
        <h1>5. Your Registration Information</h1>
        <p>
            You agree and understand that you are responsible for maintaining
            the confidentiality of your password which, together with your login
            e-mail address, allows you to access the Service. That login e-mail
            address and password, together with any mobile number or other
            contact information you provide form your "Registration Information."
        </p>
        <p>
            By providing us with your e-mail address, you agree to receive
            periodic notices electronically, to that e-mail address. It is your
            responsibility to update or change that address, as appropriate.
            Notices will be provided in HTML (or, if your system does not
            support HTML, in plain-text) in the text of the e-mail.
        </p>
        <h1>6. Limitation Of Liability</h1>
        <p>
            The Website is provided on an "AS IS" and "AS AVAILABLE" basis
            without any representation or endorsement made and without warranty
            of any kind whether express or implied, including but not limited to
            the implied warranties of satisfactory quality, fitness for a
            particular purpose, non-infringement, compatibility, security and
            accuracy.
        </p>
        <p>
            To the extent permitted by law, <%= mdf.project.company %> will not be liable
            for any indirect or consequential loss or damage whatever (including
            without limitation loss of business, opportunity, data, profits)
            arising out of or in connection with the use of the Website.
        </p>
        <p>
            <%= mdf.project.company %> makes no warranty that the functionality of the
            Website will be uninterrupted or error free, that defects will be
            corrected or that the Website or the server that makes it available
            are free of viruses or anything else which may be harmful or
            destructive.
        </p>
        <p>
            Nothing in these Terms and Conditions shall be construed so as to
            exclude or limit the liability of <%= mdf.project.company %> for death or
            personal injury as a result of the negligence of <%= mdf.project.company %> or
            that of its employees or agents.
        </p>
        <h1>7. Indemnity</h1>
        <p>
            You agree to indemnify and hold <%= mdf.project.company %> and its employees and
            agents harmless from and against all liabilities, legal fees,
            damages, losses, costs and other expenses in relation to any claims
            or actions brought against <%= mdf.project.company %> arising out of any breach
            by you of these Terms and Conditions or other liabilities arising
            out of your use of this Website.
        </p>
        <h1>8. Severability</h1>
        <p>
            In the event that any provision of this Agreement is declared by any
            judicial or other competent authority to be void, voidable, illegal
            or otherwise unenforceable or indications of the same are received
            by either you or us from any relevant competent authority, we shall
            amend that provision in such reasonable manner as achieves the
            intention of the parties without illegality or, at our discretion,
            such provision may be severed from this Agreement and the remaining
            provisions of this Agreement shall remain in full force and effect.
        </p>
        <h1>9. Applicable Law and Dispute</h1>
        <p>
            This Agreement and all matters arising from it are governed by and
            construed in accordance with the laws of the State of California
            whose courts shall have exclusive jurisdiction over all disputes
            arising in connection with this Agreement and the place of
            performance of this Agreement is agreed by you to be the State of
            California.
        </p>
        <h1>10. Headings</h1>
        <p>
            Headings are included in this Agreement for convenience only and
            shall not affect the construction or interpretation of this
            Agreement.
        </p>
        <h1>11. Entire Agreement</h1>
        <p>
            These terms and conditions together with any documents expressly
            referred to in them, contain the entire Agreement between us
            relating to the subject matter covered and supersede any previous
            Agreements, arrangements, undertakings or proposals, written or
            oral: between us in relation to such matters. No oral explanation or
            oral information given by any party shall alter the interpretation
            of these terms and conditions. In agreeing to these terms and
            conditions, you have not relied on any representation other than
            those expressly stated in these terms and conditions and you agree
            that you shall have no remedy in respect of any misrepresentation
            which has not been made expressly in this Agreement.
        </p>
        <p>
            <%= mdf.project.company %> reserves the right to add, delete, or modify any
            provision this Agreement at any time without notice.
        </p>
    </div>
</div>