<!-- footer -->
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Exponential.io. All rights reserved. &middot; <a href="/privacy">Privacy</a> &middot; <a href="/tos">Terms</a></p>
</footer>
<!-- /footer -->